@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ✅ Pure scrollbar ko hide kar do lekin scroll allow rahe */
/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; 
} */

body::-webkit-scrollbar {
  width: 0.11px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
}
html, body {
  height: auto;
  overflow-y: auto;
}
body {
  min-height: 100vh; /* content height se zyada rakho taaki scroll ho sake */
  overflow-y: scroll;
}
